## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [3]:
a = 20
print(a)

20

2) Imprimir el tipo de dato de la constante 8.5

In [1]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
nombre = "José Daniel Giménez"

5) Crear una variable que contenga un número complejo

In [6]:
comp = 24 + 2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
print(type(comp))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
import math
pi = round(math.pi,4)
print(pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
cad = "True"
boolean = True
print(type(cad))
print(type(boolean))

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [11]:
print(type(cad))
print(type(boolean))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
6 + 2.8

8.8

11) Realizar una operación de suma de números complejos

In [16]:
(28 + 4j) + (12 + 6j)

(40+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [15]:
32 + (12 + 3j)

(44+3j)

13) Realizar una operación de multiplicación

In [18]:
12 * 3

36

14) Mostrar el resultado de elevar 2 a la octava potencia

In [20]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [21]:
div = 27/4
print(div)

6.75

16) De la división anterior solamente mostrar la parte entera

In [22]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [23]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [25]:
print(4*6+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [27]:
print("Hola "+"Henry")

Hola Henry

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
print("2" == 2)

False

El primer elemento es un string mientras que el segundo es un número entero

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
print(int("2") == 2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [30]:
a = float("3,8")

ValueError: could not convert string to float: '3,8'

Debido a que los números tipo float se escriben separados con punto y no con coma

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [38]:
v1 = 3
v1 -= 1
print (v1)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [39]:
print(1<<2)

4

Da ese resultado porque la operación realizada implica un desplazamiento de 2 lugares hacia la izquierda en sistema binario.
El sistema binario es un sistema numérico de 2 dígitos, 0 y 1. Se utiliza en computación porque representa los 2 estados posibles de un interruptor eléctrico, apagado y encendido.

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [40]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

No está permitido porque los datos son de distinto tipo y no puede procesar la operación. Si los datos fueran del mismo tipo, la operación se realizaría sin problemas.

26) Realizar una operación válida entre valores de tipo entero y string

In [42]:
a = "hola "
b = 4
print(a*b)

hola hola hola hola